<!DOCTYPE html>
<html>
  <head>
    <title>My Webpage</title>
  </head>
  <body>
    {% set name = 'Mary Popins' %}
    {% set websiteTitle = 'Super web title' %}
    <ul id="navigation">

      {% for i in range(0, 3) %}
        <li><a href="#">{{ name }} {{ i }} </a></li>
      {% endfor %}

    </ul>

    <h1>My Webpage</h1>
    {{ websiteTitle }}
  </body>
</html>