<section id="banner" class="style2">
    <div class="inner">
                <span class="image">
                    <img src="../images/back3.png" alt="backoffice eventiverse main page" />
                </span>
        <header class="major">
            <h1>Backoffice de Eventiverse</h1>
        </header>
        <div class="content">
            <p>Aplicación web para la gestión manual de eventiverse <br />
                acciones disponibles solo para personal autorizado.</p>
        </div>
    </div>
</section>
<div id="main">
    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h2>Aplicación web para la gestión de Eventiverse para todo el equipo humano</h2>
            </header>
            <p>Plataforma para gestionar de manera 100% remota cualquier evento de Eventiverse, funcionalidades y propiedades SEO.</p>
            <p>Pronto facilitaré datos de acceso para invitados.</p>
            <ul class="actions">
                <li><a href="http://backoffice.eventiverse.es:8060/" target="_blank" class="button">Vamos a verlo! </a></li>
            </ul>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="spotlights">
        <section>
            <a href="https://www.eventiverse.es/" target="_blank" class="image">
                <img src="../images/pic01.jpg" alt="" data-position="25% 25%" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Sistema de control de acceso</h3>
                    </header>
                    <p>Identificación única de cada persona que acceda al panel y control de las acciones que pueda realizar.</p>
                </div>
            </div>
        </section>
        <section>
            <a href="https://www.eventiverse.es/" target="_blank" class="image">
                <img src="../images/back1.png" alt="backoffice eventiverse list" data-position="center center" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Listado principal</h3>
                    </header>
                    <p>Listado de todos los eventos con la información más relevante y acciones disponibles.</p>
                </div>
            </div>
        </section>
        <section>
            <a href="https://www.eventiverse.es/" target="_blank" class="image">
                <img src="../images/back2.png" alt="backoffice event data" data-position="top center" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Datos del evento</h3>
                    </header>
                    <p>Panel para la inserción o modificación de los datos del evento.</p>
                </div>
            </div>
        </section>
    </section>

    <!-- More info -->
    <section id="three">
        <div class="inner">
            <header class="major">
                <h2>+ info</h2>
            </header>
            <p></p>
            <ul>
                <li>Control de los eventos supervisados manualmente o no.</li>
                <li>Acceso directo a la página web del nuevo evento, o modificado para verificaciones en tiempo real.</li>
            </ul>
            <ul class="actions">
                <li><a href="http://backoffice.eventiverse.es:8060/" target="_blank" class="button">Vamos a verlo! </a></li>
            </ul>
        </div>
    </section>
</div>