<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css"/>
            <title>{% block title %}{% endblock %} - Yemafe's portfolio</title>
        {% endblock %}
    </head>
    <body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <div class="coin-container">
                    <div class="coin"></div>
                </div>
                <a href="/" class="logo">
                    <strong>Yemafe</strong> <span> portfolio</span>
                </a>
                <nav>
                    <a href="#menu">Menu</a>
                </nav>
            </header>

            <nav id="menu">
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/landing?item=eventiverse">Eventiverse</a></li>
                    <li><a href="/landing?item=backoffice">Backoffice de Eventiverse</a></li>
                    <li><a href="/landing?item=portfolio">Portfolio</a></li>
                </ul>
            </nav>
            {% block content %}{% endblock %}
            {{ include('footer.twig') }}
        </div>


        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.scrolly.min.js"></script>
        <script src="../assets/js/jquery.scrollex.min.js"></script>
        <script src="../assets/js/browser.min.js"></script>
        <script src="../assets/js/breakpoints.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/main.js"></script>
        <script> // ver
            const coin = document.querySelector('.coin');
            coin.addEventListener('animationend', () => {
                coin.style.animation = '';
            });
        </script>
    </body>
</html>