<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css"/>
            <title>{% block title %}{% endblock %} - Yemafe's portfolio</title>
        {% endblock %}
    </head>
    <body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <a href="/" class="logo"><strong>Yemafe</strong> <span> portfolio</span></a>
                <nav>
                    <a href="#menu">Menu</a>
                </nav>
            </header>

            <nav id="menu">
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/landing">Landing</a></li>
                    <li><a href="/generic">Generic</a></li>
                    <li><a href="/elements">Elements</a></li>
                </ul>
            </nav>
            {% block content %}{% endblock %}
            {{ include('footer.twig') }}
        </div>

        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.scrolly.min.js"></script>
        <script src="../assets/js/jquery.scrollex.min.js"></script>
        <script src="../assets/js/browser.min.js"></script>
        <script src="../assets/js/breakpoints.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/main.js"></script>
    </body>
</html>