{% block footer %}
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li class="icon solid alt fa-home"><span class="ml-5">Málaga, España</span></li>
                    <li class="icon solid alt fa-phone"><span class="ml-5">(+34) 617 80 45 68</span></li>
                    <li class="icon solid alt fa-envelope"><span class="ml-5">solanoymf@gmail.com</span></li>
                    <li><a href="https://github.com/yemafe" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="https://es.linkedin.com/in/jesica-marquez-fernandez"  target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>Forty: <a href="https://html5up.net/forty" target="_blank">Forty Theme</a></li>
                    <li><a href="/elements">Elements</a></li>
                    <li><a href="/generic">Generic</a></li>
                    <li>&copy; Yemafe</li>
                </ul>
            </div>
        </footer>

{% endblock %}