{% extends "base.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
{% endblock %}
{% block content %}
    
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>Hola! soy Yéssica, desarrolladora de backend</h1>
                </header>
                <div class="content">
                    <p>Gracias por pasar por mi portfolio <br />
                         veamos algunos de mis projectos. </p>
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">Empecemos</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <div id="main">

            <section id="one" class="tiles">
                <article>
                    <span class="image">
                        <img src="../images/eventiverse-logo.png" alt="eventiverse" />
                    </span>
                    <header class="major">
                        <h3><a href="/landing?item=eventiverse" class="link">Eventiverse</a></h3>
                        <p>Web de eventos</p>
                        <span class="python pill">python</span>
                        <span class="fastapi pill">fastapi</span>
                        <span class="jinja2-sqlalchemy pill">SQLAlchemy</span>
                        <span class="jinja2-sqlalchemy pill">jinja2</span>
                        <span class="boostrap pill">boostrap</span>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="../images/back3.png" alt="backoffice" />
                    </span>
                    <header class="major">
                        <h3><a href="/landing?item=backoffice" class="link">Backoffice de Eventiverse</a></h3>
                        <p>Gestión de Eventiverse</p>
                        <span class="python pill">python</span>
                        <span class="flask-wtforms pill">flask</span>
                        <span class="flask-wtforms pill">wtforms</span>
                        <span class="jinja2-sqlalchemy pill">jinja2</span>
                        <span class="boostrap pill">boostrap</span>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="../images/portfolio.png" alt="portfolio" />
                    </span>
                    <header class="major">
                        <h3><a href="/underConstruction" class="link">Portfolio</a></h3>
                        <p>Exposición de algunos projectos</p>
                        <span class="php pill">php</span>
                        <span class="twig pill">twig</span>
                        <span class="css pill">css</span>
                    </header>
                </article>
            </section>

            <!-- Two -->
            <section id="two">
                <div class="inner">
                    <header class="major">
                        <h2>Sobre mí</h2>
                    </header>
                    <p>Apasionada de la informática, curiosa y siempre estoy aprendiendo nuevas tecnologías y tendencias, estudiante eterna de rápido aprendizaje, ideando algo para poner en práctica lo aprendido.<br>
                        Resolutiva, me involucro en los proyectos, coordinadora innata y facilidad para expresar mis ideas.<br>
                        Dedico gran parte de mi tiempo libre a liar a amigos y familia en algún proyectillo que me esté rondando la cabeza, tocar la guitarra y escuchar buena música rockera mientras paseo con Kiara 🐶.</p>
                    <ul class="actions">
                        <li><a href="https://es.linkedin.com/in/jesica-marquez-fernandez" target="_blank" class="button primary icon brands fa-linkedin">Linkedin</a></li>
                        <li><a href="https://github.com/yemafe" target="_blank" class="button primary icon brands fa-github">Github</a></li>
                    </ul>
                </div>
            </section>

        </div>

{% endblock %}