{% extends "base.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <title>Forty by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
{% endblock %}
{% block content %}
    {% if item == 'eventiverse' %}
        {{ include('eventiverse.twig') }}
    {% elseif item == 'backoffice' %}
        {{ include('backofficeEventiverse.twig') }}
    {% elseif item == 'portfolio' %}
        {{ include('portfolio.twig') }}
    {% endif %}
{% endblock %}