{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <title>Forty by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
{% endblock %}
{% block content %}

    {% if item == 'eventiverse' %}
        <section id="banner" class="style2">
            <div class="inner">
                <span class="image">
                    <img src="../images/eventiverse3.png" alt="eventiverse main page" />
                </span>
                <header class="major">
                    <h1>Eventiverse</h1>
                </header>
                <div class="content">
                    <p>Aplicación web de eventos <br />
                        en Málaga.</p>
                </div>
            </div>
        </section>
        <div id="main">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h2>Portal de eventos provincial </h2>
                    </header>
                    <p>Realizada con intención formativa e informativa,  para dar a conocer eventos de todo tipo en Málaga y la provincia. Con diseño claro y sencillo. Información basada en otras webs similares con toques de inteligencia artificial.</p>
                    <ul class="actions">
                        <li><a href="https://www.eventiverse.es/" target="_blank" class="button">Vamos a verlo! </a></li>
                    </ul>
                </div>
            </section>

            <!-- Two -->
            <section id="two" class="spotlights">
                <section>
                    <a href="https://www.eventiverse.es/" target="_blank" class="image">
                        <img src="../images/eventiverse2.png" alt="eventiverse section page" data-position="center center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Clasificación de eventos por espacios de tiempo amigables</h3>
                            </header>
                            <p>Secciones por periodos más cortos y más próximos, proporcionando mejor accesibilidad con página de secciones.</p>

                        </div>
                    </div>
                </section>
                <section>
                    <a href="https://www.eventiverse.es/" target="_blank" class="image">
                        <img src="../images/ev5.png" alt="eventiverse section page" data-position="top center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Clasificación de eventos por zonas</h3>
                            </header>
                            <p>Diferenciación de eventos que se celebran en la capital o las proximidades. Detalle de la información más relevante en la card de cada evento.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="https://www.eventiverse.es/" target="_blank" class="image">
                        <img src="../images/eventiverse4.png" alt="" data-position="25% 25%" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Página de detalle</h3>
                            </header>
                            <p>Toda la información y detalles de cada evento, con enlaces relevantes a página oficial, venta de entradas o cualquier otro sitio relevante.</p>
                        </div>
                    </div>
                </section>
            </section>

            <!-- More info -->
            <section id="three">
                <div class="inner">
                    <header class="major">
                        <h2>+ info</h2>
                    </header>
                    <p></p>
                    <ul>
                        <li>Funcionalidades de IA para la generación de textos y ampliar información con base de fuentes manuales.</li>
                        <li>Herramientas SEO y analítica integradas en Google analitycs.</li>
                        <li>Prototipado de banners para Amazon affiliates.</li>
                        <li>Clasificación de eventos dinámica y automatizada.</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="https://www.eventiverse.es/" target="_blank" class="button">Vamos a verlo! </a></li>
                    </ul>
                </div>
            </section>
        </div>
    {% elseif item == 'backoffice' %}
        <section id="banner" class="style2">
            <div class="inner">
                <span class="image">
                    <img src="../images/back1.png" alt="backoffice eventiverse main page" />
                </span>
                <header class="major">
                    <h1>Backoffice de Eventiverse</h1>
                </header>
                <div class="content">
                    <p>Aplicación web para la gestión manual de eventiverse <br />
                        acciones disponibles solo para personal autorizado.</p>
                </div>
            </div>
        </section>
        <div id="main">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h2>Aplicación web para la gestión de Eventiverse para todo el equipo humano</h2>
                    </header>
                    <p>Realizada para dotar de una plataforma online para listar, crear, modificar o eliminar (CRUD) cualquier evento de la plataforma y cualquier propiedad de estos para su correcta publicación en la web con atributos SEO.</p>
                    <p>En breve facilitaré datos de acceso para invitados.</p>
                    <ul class="actions">
                        <li><a href="http://backoffice.eventiverse.es:8060/" target="_blank" class="button">Vamos a verlo! </a></li>
                    </ul>
                </div>
            </section>

            <!-- Two -->
            <section id="two" class="spotlights">
                <section>
                    <a href="https://www.eventiverse.es/" target="_blank" class="image">
                        <img src="../images/eventiverse2.png" alt="eventiverse section page" data-position="center center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Clasificación de eventos por espacios de tiempo amigables</h3>
                            </header>
                            <p>Secciones por periodos más cortos y más próximos, proporcionando mejor accesibilidad con página de secciones.</p>

                        </div>
                    </div>
                </section>
                <section>
                    <a href="https://www.eventiverse.es/" target="_blank" class="image">
                        <img src="../images/ev5.png" alt="eventiverse section page" data-position="top center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Clasificación de eventos por zonas</h3>
                            </header>
                            <p>Diferenciación de eventos que se celebran en la capital o las proximidades. Detalle de la información más relevante en la card de cada evento.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="https://www.eventiverse.es/" target="_blank" class="image">
                        <img src="../images/eventiverse4.png" alt="" data-position="25% 25%" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Página de detalle</h3>
                            </header>
                            <p>Toda la información y detalles de cada evento, con enlaces relevantes a página oficial, venta de entradas o cualquier otro sitio relevante.</p>
                        </div>
                    </div>
                </section>
            </section>

            <!-- More info -->
            <section id="three">
                <div class="inner">
                    <header class="major">
                        <h2>+ info</h2>
                    </header>
                    <p></p>
                    <ul>
                        <li>Funcionalidades de IA para la generación de textos y ampliar información con base de fuentes manuales.</li>
                        <li>Herramientas SEO y analítica integradas en Google analitycs.</li>
                        <li>Prototipado de banners para Amazon affiliates.</li>
                        <li>Clasificación de eventos dinámica y automatizada.</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="https://www.eventiverse.es/" target="_blank" class="button">Vamos a verlo! </a></li>
                    </ul>
                </div>
            </section>
        </div>
    {% endif %}
{% endblock %}