{% extends "base.twig" %}

{% block title %}Error{% endblock %}
{% block head %}
    {{ parent() }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/errorPage.css" />
    <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
{% endblock %}
{% block content %}

    <div id="main" class="alt">

        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>Estamos trabajando para que esta sección este lista muy pronto</h1>
                </header>
                <span class="container"><img src="../images/underConstruction.gif" alt=""></span>
            </div>
        </section>

    </div>

{% endblock %}